<form [formGroup]="addWorkoutItemForm" (ngSubmit)="onSubmit()">
  <h3>Add a new workout item</h3>
    <div class="form-group">
      <label>
        Exercise: 
        <select formControlName="workoutItemExercise">
          <option *ngFor="let exercise of exercises$ | async" [ngValue]="exercise">{{exercise.name}}</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        Reps: 
        <input type="text" formControlName="workoutItemReps">
      </label>
    </div>
    <div class="form-group">
      <label>
        Weight: 
        <input type="text" formControlName="workoutItemWeight">
      </label>
    </div>
    <div class="form-group">
      <label>
        Date: 
        <input type="text" formControlName="workoutItemDate">
      </label>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3>Current Workout Items: </h3>
<div class="list-group" *ngFor="let workoutItem of workoutItems | async">
  <div class="list-group-item">
    <div><b>Exercise:</b> {{workoutItem.exercise.name}}</div>
    <div><b>Reps:</b> {{workoutItem.reps}}</div>
    <div><b>Weight:</b> {{workoutItem.weight}}</div>
    <div><b>Date:</b> {{workoutItem.date}}</div>
    <button type="button" class="btn btn-danger" (click)="onDeleteExercise(workoutItem.id)">Delete</button>
  </div>
</div>